<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919173750264-d768vjbl9rb4e3rv58s6pcmg01dmc8v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919173750264-d768vjbl9rb4e3rv58s6pcmg01dmc8v5</string>
	<key>API_KEY</key>
	<string>AIzaSyASd07ccbAmX80FcBbOAE304IfTQjCTkmo</string>
	<key>GCM_SENDER_ID</key>
	<string>919173750264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.deniotokiar.capital.gain.calculator</string>
	<key>PROJECT_ID</key>
	<string>capital-gain-calculator-b48d8</string>
	<key>STORAGE_BUCKET</key>
	<string>capital-gain-calculator-b48d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919173750264:ios:9145f465c60bf430bc0a0d</string>
</dict>
</plist>